@use 'sass:map';
@use '@angular/material' as mat;
@use '../ncc-styles.scss' as nccstyle;

:host {
    display: block;
  }

.ncc-app-main-nav{
    margin: auto;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 9rem auto;
    align-items: end;
    grid-gap: 1rem;
    grid-template-areas: 
    'ncclogo nccsponsors'
    'ncclogo appmenu';
    background-color: mat.get-color-from-palette(nccstyle.$ncc-primary, 400);
    color: mat.get-contrast-color-from-palette(nccstyle.$ncc-primary, 400);
    border-radius: 5px;
    width: 1440px;
}

.ncc-app-main-body{
    width: 1122px;
    
    margin: auto;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: 
    'left_content right_content';
}

.ncc-app-recruitment{
    width: 1122px;
    margin: auto;
    margin-top: 0.5rem;
}

.ncc-app-main-left_content{
    grid-area: left_content;
}

.ncc-app-main-right_content{
    grid-area: right_content;
}

.ncc-app-logo{
    grid-area: ncclogo;
    padding: 1rem;    
}
.ncc-app-logo-img{
    max-width: 100%;
}

.ncc-app-menu{
    grid-area: appmenu;
    padding: 1rem;  
}

.ncc-app-sponsors{
    grid-area: nccsponsors;
    padding: 1rem;
    text-align: right;
    border-bottom: 0.01rem solid mat.get-color-from-palette(nccstyle.$ncc-accent, 500);
}

@media only screen and (min-device-width: 640px){
    .ncc-app-main-nav{
        grid-template-columns: 12rem auto;
    }

}