@use 'sass:map';
@use '@angular/material' as mat;

@use 'ncc_material_theme' as ncc_theme;


button[mat-flat-button][plus1]{
    background-color: mat.get-color-from-palette(ncc_theme.$ncc-accent, 200);
    color: mat.get-color-from-palette(ncc_theme.$ncc-accent, 200-contrast);
    grid-area: add1;
}

button[mat-flat-button][plus2]{
    background-color: mat.get-color-from-palette(ncc_theme.$ncc-accent, 300);
    color: mat.get-color-from-palette(ncc_theme.$ncc-accent, 300-contrast);
    grid-area: add2;
}

button[mat-flat-button][plus3]{
    background-color: mat.get-color-from-palette(ncc_theme.$ncc-accent, 500);
    color: mat.get-color-from-palette(ncc_theme.$ncc-accent, 500-contrast);
    grid-area: add3;
}

button[mat-flat-button][plus4]{
    background-color: mat.get-color-from-palette(ncc_theme.$ncc-accent, 700);
    color: mat.get-color-from-palette(ncc_theme.$ncc-accent, 700-contrast);
    grid-area: add4;
}

button[mat-flat-button][plus6]{
    background-color: mat.get-color-from-palette(ncc_theme.$ncc-accent, 900);
    color: mat.get-color-from-palette(ncc_theme.$ncc-accent, 900-contrast);
    grid-area: add6;
}

button[mat-flat-button][min1]{
    background-color: mat.get-color-from-palette(ncc_theme.$ncc-warn, 500);
    color: mat.get-color-from-palette(ncc_theme.$ncc-warn, 500-contrast);
    grid-area: rem1;
}


.grid-scoreboard-layout{
    display: grid;
    gap: 0.2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
}


.grid-scoreboard-6controls{
    display: grid;
    grid-template-columns: repeat(3, 65px);
    grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
    gap: 0.1rem;
    grid-template-areas: 
    'inputbox inputbox inputbox'
    'add1 add2 add3'
    'add4 add6 rem1';
}

.grid-scoreboard-2controls{
    display: grid;
    grid-template-columns: repeat(3, 65px);
    grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
    gap: 0.1rem;
    grid-template-areas: 
    'inputbox inputbox inputbox'
    'add1 rem1 .'
    '. . .';
}

.grid-scoreboard-0controls{
    display: grid;
    grid-template-columns: repeat(3, 65px);
    grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
    gap: 0.1rem;
    grid-template-areas: 
    'inputbox inputbox inputbox'
    'add3 add3 .'
    '. . .';
}

.grid-input-box{
    grid-area: inputbox;
}