
@use 'sass:map';
@use '@angular/material' as mat;
@use 'ncc_material_theme' as ncc_theme;


body{
  font-family: mat.font-family(ncc_theme.$ncc-Typography, 'body-1');
  font-size: mat.font-size(ncc_theme.$ncc-Typography, 'body-1');
  font-weight: mat.font-weight(ncc_theme.$ncc-Typography, 'body-1');
  margin: 0;
  padding: 0;
  
}